.root {
  position: absolute;
  top: 32px;
  right: 32px;
  z-index: 500;
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}

.button {
  background: var(--default-bg);
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  padding: 8px;
  cursor: pointer;
  transition: background 0.4s ease-in;
  transition-delay: 0.1s;
}

.iconPrimary {
  display: block;
}

.iconSecondary {
  display: none;
}

/* when body has .dark-theme, swap which icon is visible */
:global(.dark-theme) .iconPrimary {
  display: none;
}

:global(.dark-theme) .iconSecondary {
  display: block;
}
