* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pixelify Sans", sans-serif;
}

html,
body,
#root {
  height: 100dvh;
  overflow: hidden;
}

:root {
  --pastel-pink: #a88a75;
  --pastel-blue: #5c6a83;
}

.light-theme {
  --default-bg: var(--pastel-pink);
}

.dark-theme {
  --default-bg: var(--pastel-blue);
}

#experience {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

#experience-canvas {
  width: 100%;
  height: 100%;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
}

@media (max-width: 1250px) {
  html {
    font-size: 10px;
  }
}
